/* h1 {
    text-align: center;
}
body {
    background-color: #f4c531;
}
.container {
    background-color: #ffffff;
    width: 90%;
    max-width: 31.25em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 5em 3em;
    border-radius: 0.5em;
}
p {
    display: inline-block;
    text-align: center;
}

.result {
    background-color: green;
    width: 90%;
    max-width: 31.25em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 70%;
    left: 50%;
    padding: 1em 3em;
    border-radius: 0.5em;
}

.p_result {
    text-align: center;
} */
body {
    background-color: #49108B;
}

h1 {
    text-align: center;
    color: #ffffff;
    font-size: 50px;
    font-family: 'Lato';
}
.container {
    background-color: #EEF0E5;
    width: 90%;
    max-width: 31.25em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 5em 3em;
    border-radius: 0.5em;
}

.container:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.p_text {
    font-family: 'Lato';
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 30px;
    color: #49108B;
}

table {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.kolom {
    margin-top: 5px;
    width: 200px;
    padding: 10px;
    border: 1px solid #49108B;
}

#result {
    text-align: center;
    margin-top: 10px;
    margin-left: 25px;
    width: 88%;
    height: 50px;
    border: 1px solid #49108B;
    border-radius: 4px;
}

#result:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

button {
    color: white;
    font-size: 16px;
    height: 30px;
    padding: 5px;
}

.button {
    text-align: center;
    margin-top: 10px;
}

#add {
    background-color: white;
    color: black;
    border: 2px solid #49108B;
}
#add:hover {
    background-color: #49108B;  
    color: white;
}

#sub {
    background-color: white;
    color: black;
    border: 2px solid #49108B;
}
#sub:hover {
    background-color: #49108B;
    color: white;
}

#dot-product {
    background-color: white;
    color: black;
    border: 2px solid #49108B;
}
#dot-product:hover {
    background-color: #49108B;
    color: white;
}

#cross-product {
    background-color: white;
    color: black;
    border: 2px solid #49108B;
}
#cross-product:hover {
    background-color: #49108B;
    color: white;
}

#elementerBar {
    background-color: white;
    color: black;
    border: 2px solid #49108B;
    margin-top: 5px;
}
#elementerBar:hover {
    background-color: #49108B;
    color: white;
}

#elementerKol {
    background-color: white;
    color: black;
    border: 2px solid #49108B;
    margin-top: 5px;
}
#elementerKol:hover {
    background-color: #49108B;
    color: white;
}